<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tasks</title>
<link rel="stylesheet" href="style/index.css">
<script src="https://kit.fontawesome.com/b6f21dd2ae.js" crossorigin="anonymous"></script>
<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js",
      "sortablejs": "https://ga.jspm.io/npm:sortablejs@1.15.2/modular/sortable.esm.js",
      "vue-sortable": "https://cdn.jsdelivr.net/npm/vue3-sortablejs@1.0.7/+esm"
    }
  }
</script>
</head>
<body>
  <h1>Tasks</h1>
  <div id="app">
    <div class="lists">
      <div v-for="(list, i) in lists" :class="`${(list.tasks.length == 0 || list.tasks.map(task=>task.completed).includes(false)) ? '' : 'all-done '}list`" :key="`l-${list.id}`">
        <input type="text" v-model="list.title" v-on:input="updateLists" class="list-title">
        <div class="tasks" v-sortable="{options: {group: 'shared'}}" @end="onOrderChange" :id="list.id">
          <div v-for="(task, index) in list.tasks" class="task" :key="`t-${task.id}`">
            <div class="title">
              <label class="checkbox-container">
                <input type="checkbox" name="completed" v-model="task.completed" v-on:change="updateLists">
                <span class="checkmark"></span>
              </label>
              <input type="text" name="title" v-model="task.title" class="title-input" v-on:input="updateLists">
            </div>
            <pre contenteditable="true" v-on:blur="onDetailsChange" class="details" :id="task.id">{{task.details}}</pre>
            <button v-on:click="deleteTask(list.id, index)" class="delete"><i class="fa-solid fa-xmark"></i></button>
          </div>
        </div>
        <div>
          <button v-on:click="addTask(list.id)" class="add"><i class="fa-solid fa-plus"></i></button>
        </div>
      </div>
      <div disabled>
        <button v-on:click="addList" class="add"><i class="fa-solid fa-square-plus"></i></button>
      </div>
    </div>
  </div>
  <script src="js/index.js" type="module"></script>
</body>
</html>
