.tasks {
    display: grid;
    gap: .5rem;
}

.tasks:empty {
    display: none;
}

.task {
    border-radius: .5rem;
    position: relative;
}

.task {
    cursor: grab;
    background: var(--lightgray);
    overflow: hidden;
    outline: solid 1rem var(--lightgray);
    outline-offset: -1rem;
}

.task:has(.details:not(:empty)) {
    min-height: calc(123px + .5rem);
}

.task > .title {
    padding: 1rem;
}

.task .title {
    display: flex;
    gap: .5rem;
}

.task .title input[type=text] {
    width: 100%;
}

.title-input {
    margin-right: 3rem;
}

.title-input {
    background: transparent;
    font-size: 1.5rem;
}

.task .details {
    padding: 0;
    border: none;
    resize: vertical;
    background: transparent;
    width: calc(100% - 11rem);
    margin: 0 5.5rem 1.5rem;
    cursor: text;
}

.task .details:not(:focus):empty {
    height: 0;
    padding: 0;
    margin: 0;
}

.task:has(.details:not(:focus):empty) input[type=text] {
    border-bottom: none;
}

.delete:hover,
.delete:focus {
    opacity: 1;
}

.delete {
    padding: 0;
    border: none;
    background-color: white;
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
    cursor: pointer;
    opacity: .3;
    line-height: 1;
    color: grey;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
}

.add {
    width: 100%;
    border-radius: 0 0 .5rem .5rem;
    border: solid 2px darksalmon;
    background: transparent;
    cursor: pointer;
    height: 61.5px;
    font-weight: 900;
    font-size: 2rem;
    color: darksalmon;
}

.add:hover,
.add:focus {
    color: white;
    border-color: transparent;
    background-color: indianred;
}

.list:not(.all-done) .task:has(:checked) {
    background: var(--green);
    outline-color: var(--green);
    /* opacity: .5; */
}

.all-done .task:has(:checked) {
    mix-blend-mode: multiply;
    /* filter: grayscale(.5); */
}

.task.task:has(:checked) *:not(i) {
    text-decoration: line-through;
    color: darkgreen;
}

.list-title {
    width: calc(100% - .25rem) !important;
    height: 61.5px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    background: transparent;
}

.all-done .list-title {
    color: darkgreen;
}